﻿
@{
    ViewBag.Title = "Liste de Désinscription";
}

<h2>Liste des différents types d'événements</h2>
<div id="menu-membre">
    <ul id="affiche">
        <li>@Html.ActionLink("Désinscrire un pratiquant d'un cours", "DeregistrationCourse", "adminRegistration")</li>
        <li>@Html.ActionLink("Désinscrire un pratiquant d'une compétition", "DeregistrationCompetition", "adminRegistration")</li>
        <!--<li>@Html.ActionLink("Désinscrire un pratiquant d'un extra", "DeregistrationExtra", "adminRegistration")</li>
        <li>@Html.ActionLink("Désinscrire un pratiquant d'un examen", "DeregistrationTest", "adminRegistration")</li>
        <li>@Html.ActionLink("Désinscrire un pratiquant d'un stage", "DeregistrationTrainee", "adminRegistration")</li>-->
    </ul>
</div>
<div>
    @Html.ActionLink("Retour", "Index", "menu")
</div>

