﻿
@{
    ViewBag.Title = "Liste d'inscriptions :";
}

<h2>Liste des différents types d'événements</h2>
<div id="menu-membre">
    <ul id="affiche">
        <li>@Html.ActionLink("Inscrire un pratiquant à un cours", "RegistrationCourse", "adminRegistration")</li>
        <li>@Html.ActionLink("Inscrire un pratiquant à une compétition", "ChoiceCategory", "adminRegistration")</li>
        <!--<li>@Html.ActionLink("Inscrire un pratiquant à un extra", "RegistrationExtra", "adminRegistration")</li>-->
        <li>@Html.ActionLink("Inscrire un pratiquant à un examen", "RegistrationTest", "adminRegistration")</li>
        <!--<li>@Html.ActionLink("Inscrire un pratiquant à un stage", "RegistrationTrainee", "adminRegistration")</li>-->
    </ul>
</div>
<div>
    @Html.ActionLink("Retour", "Index", "menu")
</div>
