﻿@model projet_club_sportif.Models.T_Theme

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>theme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theme)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.pk_theme }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
