﻿@model projet_club_sportif.Models.Extra

@{
    ViewBag.Title = "detailExtra";
}



<div>
    <h4>Extra a se désinscrire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.organisateursSelectedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.organisateursSelectedId, "ListOrganisateursEtParticipants")
        </dd>
    </dl>
</div>
<ul class="nav nav-pills">
<li role="presentation" class="active">  @Html.ActionLink("Désinscrire", "DesinscriptionValidationExtra", new { id_evenement = Html.DisplayFor(model => model.fk_evenement) }) </li> | @Html.ActionLink("Retour à la liste", "DesinscriptionExtra")
</ul>

