﻿@model IEnumerable<projet_club_sportif.Models.Cours>

@{
    ViewBag.Title = "S'inscrire à un cours :";
}

<h2>S'inscrire à un cours :</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.themesSelectedId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.organisateursSelectedId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.themesSelectedId, "ListTThemes")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.organisateursSelectedId, "ListOrganisateursEtParticipants")
            </td>
            <td>
                @Html.ActionLink("S'inscrire", "JoinCours", new { id = item.fk_evenement })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Retour à la liste", "S_Inscrire_A_Un_Evenement", "menu")
</p>
