﻿@model IEnumerable<projet_club_sportif.Models.Stage>

@{
    ViewBag.Title = "Inscrire";
}

@section css
{
    <link href="~/Scripts/chosen_v1.8.7/chosen.min.css" rel="stylesheet" type="text/css" />
}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.themes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.organisateurs)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.themesSelectedId, "ListTThemes")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.organisateursSelectedId, "ListOrganisateursEtParticipants")
            </td>
            <td>
                @Html.ActionLink("S'inscrire", "JoinTrainee", new { id = item.fk_evenement }) 
            </td>
        </tr>
    }
    
    </table>

<p>
    @Html.ActionLink("Retour à la liste", "S_Inscrire_A_Un_Evenement", "menu")
</p>