﻿
@{
    ViewBag.Title = "Liste des événements suivis :";
}

<h2>Liste des événements suivis :</h2>

<hr />


@if (ViewBag.Cours != null && ViewBag.Cours.Count != 0)
{
    <h4>Cours</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Section
            </th>
            <th>
                Themes
            </th>
            <th>
                Date de début
            </th>
            <th>
                Date de fin
            </th>
            <th>
                suprimer
            </th>

        </tr>
        @foreach (projet_club_sportif.Models.Cours item in ViewBag.Cours)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.section)
                </td>
                <td>
                    @Html.DisplayFor(model => item.themesSelectedId, "ListTThemes")
                </td>
                <td>
                    @Html.DisplayFor(model => item.dateDebut)
                </td>
                <td>
                    @Html.DisplayFor(model => item.dateFin)
                </td>

            </tr>
        }
    </table>
}

@if (ViewBag.Examen != null && ViewBag.Examen.Count != 0)
{
    <h4>Examens</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Grade
            </th>
            <th>
                Date de début
            </th>
            <th>
                Date de fin
            </th>
            <th>
                réussi
            </th>

        </tr>
        @foreach (projet_club_sportif.Models.Examen item in ViewBag.Examen)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Examen => item.grade)
                </td>
                <td>
                    @Html.DisplayFor(Examen => item.dateDebut)
                </td>
                <td>
                    @Html.DisplayFor(Examen => item.dateFin)
                </td>

            </tr>
        }
    </table>
}
@if (ViewBag.Competition != null && ViewBag.Competition.Count != 0)
{
    <h4>Competitions</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Titre
            </th>
            <th>
                Categories
            </th>
            <th>
                Date de début
            </th>
            <th>
                Prix
            </th>

        </tr>
        @foreach (projet_club_sportif.Models.Competition item in ViewBag.Competition)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.titre)
                </td>
                <td>
                    @Html.DisplayFor(model => item.categoriesSelectedId, "ListTCategories")
                </td>
                <td>
                    @Html.DisplayFor(model => item.dateDebut)
                </td>

            </tr>
        }
    </table>
}
@if (ViewBag.Extra != null && ViewBag.Extra.Count != 0)
{
    <h4>Extras</h4>
    <hr />

    <table class="table">
        <tr>
            <th>
                Titre
            </th>
            <th>
                categories
            </th>
            <th>
                Date de début
            </th>
        </tr>
        @foreach (var item in ViewBag.Extra)
        {
            <tr>
                <td>
                    @item.titre
                </td>
                <td>
                    @Html.Raw(item.dateDebut.ToString("dd/MM/yyyy HH:mm"))
                </td>
                <td>
                    @Html.Raw(item.dateFin.ToString("dd/MM/yyyy HH:mm"))
                </td>

            </tr>
        }
    </table>
}



@if (ViewBag.Stage != null && ViewBag.Stage.Count != 0)
{
    <h4>Stages</h4>
    <hr />

    <table class="table">
        <tr>
            <th>
                Thèmes
            </th>
            <th>
                categories
            </th>
            <th>
                Date de début
            </th>
        </tr>
        @foreach (projet_club_sportif.Models.Stage item in ViewBag.Stage)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.themesSelectedId, "ListTThemes")
                </td>
                <td>
                    @Html.Raw(item.dateDebut.ToString("dd/MM/yyyy HH:mm"))
                </td>
                <td>
                    @Html.Raw(item.dateFin.ToString("dd/MM/yyyy HH:mm"))
                </td>

            </tr>
        }
    </table>
}
<div>
    @Html.ActionLink("Retour", "Index", "menu")
</div>
