﻿@{
    ViewBag.Title = "Gérer ses inscriptions :";
}

<h2>Gérer ses inscriptions</h2>
<div id="menu-membre">
    <ul id="affiche">
        <li>@Html.ActionLink("S'inscire à un événement", "S_Inscrire_A_Un_Evenement", "menu")</li>
        <li>@Html.ActionLink("Se Désinscrire d'un événement", "Se_Desinscrire_D_Un_Evenement", "menu")</li>
        <li>@Html.ActionLink("Consulter la liste de ses inscriptions", "Liste_Inscriptions", "participers")</li>
    </ul>
</div>