﻿
@{
    ViewBag.Title = "Instructeur";
}

<h2>Menu membre du Staff</h2>

@Html.Partial("~/Views/Shared/_menu_instructeur.cshtml")

@section scripts
{
    <script src="~/Scripts/menu/JavaScript.js"></script>
}