﻿
@{
    ViewBag.Title = "Instructeur_Gerer_Historique";
}

<h2>Menu de L'historique</h2>
<div id="menu-membre">
    <ul id="affiche">
        <li>@Html.ActionLink("Consulter son historique", "Instructeur_Consulter_Son_Historique", "menu")</li>
        <li>@Html.ActionLink("Consulter l'historique d'un pratiquant", "Instructeur_consulter_historique_etudiant", "menu")</li>
    </ul>
</div>