﻿@model IEnumerable<projet_club_sportif.Models.Personne>

@{
    ViewBag.Title = "Instructeur_consulter_historique_etudiant";
}

<h2>Recherche d'étudiant</h2>
<hr>
<form class="navbar-form navbar-right inline-form">

    <div class="form-group">
        <label>Nom de l'élève:</label>
        <input type="search" class="input-sm form-control" placeholder="Recherche" id="recherche_etudiant">

        <button type="button" class="btn btn-primary btn-sm" onclick="recherche()"><span class="glyphicon glyphicon-eye-open"></span> valider</button>

    </div>

</form>
<h2>Liste des étudiants</h2>
<hr>
<table class="table table-hover" id="tableau">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="contenue">
        @foreach (var item in Model)
        {
            <tr>

                <td id="@Html.DisplayFor(modelItem => item.nom)">@Html.DisplayFor(model => item.nom)</td>
                <td>@Html.DisplayFor(model => item.prenom)</td>
                <td>
                @Html.ActionLink("Afficher", "Instructeur_consulte_historique_dun_etudiant", new { id = item.pk_personne }) |
                @Html.ActionLink("Créer une entrée ", "créerUneEntrer_historique", new { id = item.pk_personne }) |
                @Html.ActionLink("Modifier une entrée", "modifier_historique", new { id = item.pk_personne })
            </td>
        </tr>
        }
    </tbody>
</table>
<h2>Mes données</h2>
<hr>
<table class="table table-hover" id="tableau">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
      
            <tr>

                <td>@ViewBag.Personne.nom</td>
                <td>@ViewBag.Personne.prenom</td>
                <td>
                    @Html.ActionLink("Afficher", "Instructeur_Consulter_Son_Historique", new { id = ViewBag.Personne.pk_personne }) |
                    @Html.ActionLink("Créer une entrée ", "créerUneEntrer_historique", new { id = ViewBag.Personne.pk_personne }) |
                    @Html.ActionLink("Modifier une entrée", "modifier_historique", new { id = ViewBag.Personne.pk_personne })
                </td>
            </tr>
        
    </tbody>
</table>
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/Gerer_Les_Donnees_Etudiants/JavaScript.js"></script>
}
