﻿@model projet_club_sportif.Models.T_Participer

@{
    ViewBag.Title = "modifier_historique";
    projet_club_sportif.Models.Personne laPersonne = ViewBag.Personne;
}

<h2>modifier_historique</h2>
<hr />

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>extra</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.pk_personne)
        @Html.HiddenFor(model => model.pk_evenement)

        <div class="form-group">
            @Html.LabelFor(model => model.reussit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.reussit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.reussit, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.classement, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.classement, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                @Html.ValidationMessageFor(model => model.classement, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
}


<div>
    @Html.ActionLink("Retour", "Index", "menu")
</div>
