﻿@model IEnumerable<projet_club_sportif.Models.T_Evenement>

<h2>S'inscrire à un évènement</h2>
<div id="menu-membre">
    <ul id="affiche">
        <li>@Html.ActionLink("S'inscrire à un cours", "InscriptionCours", "participers")</li>
        <li>@Html.ActionLink("S'inscrire à une compétition", "ChoiceCategory", "participers")</li>
        <li>@Html.ActionLink("S'inscrire à un extra", "InscriptionExtra", "participers")</li>
        <li>@Html.ActionLink("S'inscrire à un examen", "InscriptionExamen", "participers")</li>
        <li>@Html.ActionLink("S'inscrire à un stage", "InscriptionStage", "participers")</li>
    </ul>
</div>

<div>
    @Html.ActionLink("Retour", "Gerer_Ses_Inscriptions", "menu")
</div>
