﻿@model IEnumerable<projet_club_sportif.Models.T_Categorie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer un nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categorie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categorie)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.pk_categorie }) |
            @Html.ActionLink("Détails", "Details", new { id=item.pk_categorie }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.pk_categorie })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Retour au menu", "Index",  "menu")
    @Html.ActionLink("Retour aux competitions", "Index", "competitions")
</div>
