﻿@model IEnumerable<projet_club_sportif.Models.T_Lieu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ajouter un nouveau local", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.salle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pays)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.salle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pays)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.pk_lieu }) |
            @Html.ActionLink("Détails", "Details", new { id=item.pk_lieu }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.pk_lieu })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Retour", "Instructeur_Gerer_Les_Evenements", "menu")
</div>

