﻿@model IEnumerable<projet_club_sportif.Models.Personne>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Ajouter un membre", "Create")</li>
    <li>@Html.ActionLink("Liste des pratiquants", "Instructeur_Gerer_Les_Donnees_Etudiantes")</li>
    <li>@Html.ActionLink("Liste des membres du staff", "ListStaff")</li>
</ul>

<div>
    @Html.ActionLink("Retour", "Index",  "menu")
</div>