﻿@model IEnumerable<projet_club_sportif.Models.Personne>
@{
    ViewBag.Title = "Eleve";
}

<h2>Recherche d'étudiants</h2>

<form class="navbar-form navbar-right inline-form">

    <div class="form-group">
        <label>Nom de l'élève:</label>
        <input type="search" class="input-sm form-control" placeholder="Recherche" id="recherche_etudiant">

        <button type="button" class="btn btn-primary btn-sm" onclick="recherche()"><span class="glyphicon glyphicon-eye-open"></span> valider</button>

    </div>

</form>
<table class="table table-hover" id="tableau">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="contenue">
           @foreach (var item in Model)
           {
               <tr>

                   <td id="@Html.DisplayFor(modelItem => item.nom)">@Html.ActionLink(item.nom, "Edit", new { id = item.pk_personne })</td>
                   <td>@Html.ActionLink(item.prenom, "Edit", new { id = item.pk_personne })</td>
                   <td>@Html.ActionLink(item.email, "Edit", new { id = item.pk_personne })</td>
                   <td>@Html.ActionLink("Modifier", "Edit", new { id = item.pk_personne }) |
                        @Html.ActionLink("Détails", "Details", new { id = item.pk_personne }) |
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.pk_personne })</td>
               </tr>
           }
    </tbody>
</table>

<div>
    @Html.ActionLink("Retour à l'index", "Index")
</div>

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/Gerer_Les_Donnees_Etudiants/JavaScript.js"></script>
}