﻿@model IEnumerable<projet_club_sportif.Models.Personne>

@{
    ViewBag.Title = "Liste des pratiquants";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer un nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taille)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poids)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.poids)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sexe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telephone)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.pk_personne }) |
                @Html.ActionLink("Détails", "Details", new { id = item.pk_personne }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.pk_personne })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Retour à l'index", "Index")
</div>
