﻿@model projet_club_sportif.Models.Examen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>examen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.evenement.id_evenement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.evenement.id_evenement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.evenement1.id_evenement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.evenement1.id_evenement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_evenement }) |
    @Html.ActionLink("Back to List", "Index")
</p>
