﻿@model IEnumerable<projet_club_sportif.Models.Examen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.evenement.id_evenement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.evenement1.id_evenement)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.section)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.evenement.id_evenement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.evenement1.id_evenement)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_evenement }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_evenement }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_evenement })
        </td>
    </tr>
}

</table>
