﻿@model projet_club_sportif.Models.Cours_Examen

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.myCours.section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCours.section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myCours.themesSelectedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCours.themesSelectedId, "ListTThemes")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myCours.dateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCours.dateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myCours.dateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCours.dateFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myCours.jour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCours.jour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myCours.salle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCours.salle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myCours.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCours.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myCours.cp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCours.cp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myCours.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCours.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myCours.pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCours.pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myCours.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCours.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myCours.organisateursSelectedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCours.organisateursSelectedId, "ListOrganisateursEtParticipants")
        </dd>
    </dl>

    @if (Model.myExamens != null && Model.myExamens.Count != 0)
    {
        <h4>Examens</h4>

        foreach (var item in Model.myExamens)
        {
            <hr />

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(Examen => item.grade)
                </dt>

                <dd>
                    @Html.DisplayFor(Examen => item.grade)
                </dd>

                <dt>
                    @Html.DisplayNameFor(Examen => item.dateDebut)
                </dt>

                <dd>
                    @Html.DisplayFor(Examen => item.dateDebut)
                </dd>

                <dt>
                    @Html.DisplayNameFor(Examen => item.dateFin)
                </dt>

                <dd>
                    @Html.DisplayFor(Examen => item.dateFin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(Examen => item.salle)
                </dt>

                <dd>
                    @Html.DisplayFor(Examen => item.salle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(Examen => item.adresse)
                </dt>

                <dd>
                    @Html.DisplayFor(Examen => item.adresse)
                </dd>

                <dt>
                    @Html.DisplayNameFor(Examen => item.cp)
                </dt>

                <dd>
                    @Html.DisplayFor(Examen => item.cp)
                </dd>

                <dt>
                    @Html.DisplayNameFor(Examen => item.ville)
                </dt>

                <dd>
                    @Html.DisplayFor(Examen => item.ville)
                </dd>

                <dt>
                    @Html.DisplayNameFor(Examen => item.pays)
                </dt>

                <dd>
                    @Html.DisplayFor(Examen => item.pays)
                </dd>

                <dt>
                    @Html.DisplayNameFor(Examen => item.description)
                </dt>

                <dd>
                    @Html.DisplayFor(Examen => item.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(Examen => item.organisateursSelectedId)
                </dt>

                <dd>
                    @Html.DisplayFor(Examen => item.organisateursSelectedId, "ListOrganisateursEtParticipants")
                </dd>
            </dl>
        }
    }
    

        
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.myCours.fk_evenement }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
