﻿@model projet_club_sportif.Models.Cours_Examen

@{
    ViewBag.Title = "Modifier";
}

@section css
{
    <link href="~/Scripts/chosen_v1.8.7/chosen.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/timepicker/jquery.timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
}

<h2>Modifier</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "edit-cours_examen-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div id="cours">
            <h4>cours</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- partie cours -->
            @Html.HiddenFor(model => model.myCours.fk_evenement)

            <div class="form-group">
                @Html.LabelFor(model => model.myCours.section, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.myCours.section, EnumHelper.GetSelectList(typeof(projet_club_sportif.Models.SECTION), Model.myCours.section), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.myCours.section, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.myCours.themesSelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ListBoxFor(model => model.myCours.themesSelectedId, new MultiSelectList(Model.myCours.themes, "pk_theme", "theme", Model.myCours.themesSelectedId), new { @class = "form-control chosen", @Id = "cours-themes-select" })
                    @Html.ValidationMessageFor(model => model.myCours.themesSelectedId, "", htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.myCours.dateDebut, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" id="heure_debut_cours">
                    @Html.EditorFor(model => model.myCours.dateDebut, "DateTimeStart", new { htmlAttributes = new { @class = "form-control ", @data_val = "false" } })
                    @Html.HiddenFor(model => model.myCours.dateDebut, new { @Id = "dateDebutCours" })
                    @Html.ValidationMessageFor(model => model.myCours.dateDebut, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.myCours.dateFin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" id="heure_fin_cours">
                    @Html.EditorFor(model => model.myCours.dateFin, "DateTimeEnd", new { htmlAttributes = new { @class = "form -control ", @data_val = "false" } })
                    @Html.HiddenFor(model => model.myCours.dateFin , new { @Id = "dateFinCours" })
                    @Html.ValidationMessageFor(model => model.myCours.dateFin, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.myCours.jour, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.myCours.jour, EnumHelper.GetSelectList(typeof(projet_club_sportif.Models.JOUR), Model.myCours.jour), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.myCours.jour, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.myCours.fk_lieu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table class='table-choix-lieu display'>
                        <thead>
                            <tr>
                                <th>Salle</th>
                                <th>Adresse</th>
                                <th>Code Postal</th>
                                <th>Ville</th>
                                <th>Pays</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th><input type="text" placeholder="" /></th>
                                <th><input type="text" placeholder="" /></th>
                                <th><input type="text" placeholder="" /></th>
                                <th><input type="text" placeholder="" /></th>
                                <th><input type="text" placeholder="" /></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (projet_club_sportif.Models.T_Lieu unLieu in ViewBag.lieux)
                            {
                                <tr>
                                    <td>@Html.DisplayName(unLieu.salle)</td>
                                    <td>@Html.DisplayName(unLieu.adresse)</td>
                                    <td>@Html.DisplayName(unLieu.cp.ToString())</td>
                                    <td>@Html.DisplayName(unLieu.ville)</td>
                                    <td>@Html.DisplayName(unLieu.pays)</td>
                                    <td>
                                        @Html.RadioButtonFor(model => model.myCours.fk_lieu, unLieu.pk_lieu)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.ValidationMessageFor(model => model.myCours.fk_lieu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.myCours.description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.myCours.description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.myCours.description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.myCours.organisateursSelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ListBoxFor(model => model.myCours.organisateursSelectedId, new MultiSelectList(Model.myCours.organisateurs, "pk_personne", "nom", Model.myCours.organisateursSelectedId), new { @class = "form-control chosen", @Id = "cours-organisateurs-select" })
                    @Html.ValidationMessageFor(model => model.myCours.organisateursSelectedId, "", htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <!-- partie examen -->
        <h4>examens</h4>
        <div id="examens" class="form-horizontal">@Html.EditorFor(model => model.myExamens, "ListExamen")</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Ajouter un examen" class="btn btn-default" id="AddExamButton" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="valider" class="btn btn-default" />
            </div>
        </div>

    </div> @*fin div cours_examen*@
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/chosen_v1.8.7/chosen.jquery.min.js"></script>

    <script src="~/Scripts/timepicker/jquery.timepicker.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/datepair/datepair.min.js"></script>
    <script src="~/Scripts/datepair/jquery.datepair.min.js"></script>

    <script src="~/Scripts/cours_et_examen/edit.js"></script>
}
