﻿@model projet_club_sportif.Models.Cours_Examen

@{
    Layout = null;
}

<div id="Examen-@Html.Raw(ViewBag.numExam)" class="examen">
    <hr />
    @Html.Hidden("Index", (string) ViewBag.numExam.ToString(), new { @Name = "Index", @Id = "" })

    @Html.HiddenFor(model => model.myExamens.First().fk_evenement, new { @Name = "fk_evenement[" + ViewBag.numExam + "]", @Id = "fk_evenement[" + ViewBag.numExam + "]" })

    <div class="form-group">
        @Html.LabelFor(model => model.myExamens.First().grade, htmlAttributes: new { @class = "control-label col-md-2", @For = "grade[" + ViewBag.numExam + "]" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.myExamens.First().grade, EnumHelper.GetSelectList(typeof(projet_club_sportif.Models.GRADE)), new { @class = "form-control", @Name = "grade[" + ViewBag.numExam + "]", @Id = "grade[" + ViewBag.numExam + "]" })
            @Html.ValidationMessageFor(model => model.myExamens.First().grade, "", new { @class = "text-danger", @Data_valmsg_for = "grade[" + ViewBag.numExam + "]" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.myExamens.First().dateDebut, htmlAttributes: new { @class = "control-label col-md-2", @For = "dateDebutExamen[" + ViewBag.numExam + "]" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.myExamens.First().dateDebut, "DateTimeExamStart", new { htmlAttributes = new { @class = "form-control " } })
            @Html.HiddenFor(model => model.myExamens.First().dateDebut, new { @Id = "dateDebutExamen-" + ViewBag.numExam, @Name = "dateDebutExamen[" + ViewBag.numExam + "]" })
            @Html.ValidationMessageFor(model => model.myExamens.First().dateDebut, "", new { @class = "text-danger", @Data_valmsg_for = "dateDebutExamen[" + ViewBag.numExam + "]" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.myExamens.First().dateFin, htmlAttributes: new { @class = "control-label col-md-2", @For = "dateFinExamen[" + ViewBag.numExam + "]" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.myExamens.First().dateFin, "DateTimeExamEnd", new { htmlAttributes = new { @class = "form -control" , @For = "dateFinExamen[" + ViewBag.numExam + "]" } })
            @Html.HiddenFor(model => model.myExamens.First().dateFin, new { @Id = "dateFinExamen-" + ViewBag.numExam, @Name = "dateFinExamen[" + ViewBag.numExam + "]" })
            @Html.ValidationMessageFor(model => model.myExamens.First().dateFin, "", new { @class = "text-danger", @Data_valmsg_for = "dateFinExamen[" + ViewBag.numExam + "]" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.myExamens.First().fk_lieu, htmlAttributes: new { @class = "control-label col-md-2", @For = "fk_lieu[" + ViewBag.numExam + "]" })
        <div class="col-md-10">
            <table class='table-choix-lieu display'>
                <thead>
                    <tr>
                        <th>Salle</th>
                        <th>Adresse</th>
                        <th>Code Postal</th>
                        <th>Ville</th>
                        <th>Pays</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th><input type="text" placeholder="" /></th>
                        <th><input type="text" placeholder="" /></th>
                        <th><input type="text" placeholder="" /></th>
                        <th><input type="text" placeholder="" /></th>
                        <th><input type="text" placeholder="" /></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (projet_club_sportif.Models.T_Lieu unLieu in ViewBag.lieux)
                    {
                        <tr>
                            <td>@Html.DisplayName(unLieu.salle)</td>
                            <td>@Html.DisplayName(unLieu.adresse)</td>
                            <td>@Html.DisplayName(unLieu.cp.ToString())</td>
                            <td>@Html.DisplayName(unLieu.ville)</td>
                            <td>@Html.DisplayName(unLieu.pays)</td>
                            <td>
                                @Html.RadioButtonFor(model => model.myExamens.First().fk_lieu, unLieu.pk_lieu, new { @Name = "fk_lieu[" + ViewBag.numExam + "]", @Id = "fk_lieu[" + ViewBag.numExam + "]" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.HiddenFor(model => model.myExamens.First().fk_lieu, new { @Name = "fk_lieu[]", @Id = "fk_lieu[" + ViewBag.numExam + "]" })
            @Html.ValidationMessageFor(model => model.myExamens.First().fk_lieu, "", new { @class = "text-danger", @Data_valmsg_for = "fk_lieu[" + ViewBag.numExam + "]" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.myExamens.First().description, htmlAttributes: new { @class = "control-label col-md-2", @For = "description[" + ViewBag.numExam + "]" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.myExamens.First().description, new { htmlAttributes = new { @class = "form-control", @Name = "description[]", @Id = "description[" + ViewBag.numExam + "]" } })
            @Html.ValidationMessageFor(model => model.myExamens.First().description, "", new { @class = "text-danger", @Data_valmsg_for = "description[" + ViewBag.numExam + "]" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.myExamens.First().organisateursSelectedId, htmlAttributes: new { @class = "control-label col-md-2", @For = "organisateursSelectedId[" + ViewBag.numExam + "]" })
        <div class="col-md-10">
            @Html.ListBoxFor(model => model.myExamens.First().organisateursSelectedId, new MultiSelectList(Model.myExamens.First().organisateurs, "pk_personne", "nom", Model.myExamens.First().organisateursSelectedId), new { @class = "form-control chosen", @Name = "organisateursSelectedId[" + ViewBag.numExam + "]", @Id = "examen-organisateurs-select-" + ViewBag.numExam })
            @Html.ValidationMessageFor(model => model.myExamens.First().organisateursSelectedId, "", htmlAttributes: new { @class = "text-danger", @Data_valmsg_for = "organisateursSelectedId[" + ViewBag.numExam + "]" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Supprimer l'examen" class="btn btn-default" id="SupprimerExamenButton-@Html.Raw(ViewBag.numExam)" />
        </div>
    </div>

</div>

