﻿@model IEnumerable<projet_club_sportif.Models.Cours_Examen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Créer un nouveau thème", "Index", "themes")</li>
    <li>@Html.ActionLink("Créer un nouveau cours", "Create")</li>
</ul>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.myCours.section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.myCours.dateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.myCours.dateFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.myCours.jour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.myCours.themes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.myCours.section)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.myCours.dateDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.myCours.dateFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.myCours.jour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.myCours.themesSelectedId, "ListTThemes")
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.myCours.fk_evenement }) |
            @Html.ActionLink("Détails", "Details", new { id=item.myCours.fk_evenement }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.myCours.fk_evenement })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Retour", "Instructeur_Gerer_Les_Evenements",  "menu")
</div>
