﻿@model IEnumerable<projet_club_sportif.Models.T_Categorie>

@{
    ViewBag.Title = "Choix de la Categorie :";
}

<h2>Choix de la Categorie :</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.categorie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.categorie)
        </td>
        <td>
            @Html.ActionLink("Choisir cette catégorie", "RegistrationCompetition", new { id = item.pk_categorie })
        </td>
    </tr>
}

</table>
