﻿@model IEnumerable<projet_club_sportif.Models.Personne>

@{
    ViewBag.Title = "Sélectionner un pratiquant à désinscrire :";
}

<h2>Sélectionner un pratiquant à désinscrire :</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>     
        <td>
        <td>
            @Html.ActionLink("Le désinscrire", "ValidDeregistrationCourse", new { id = item.pk_personne })
        </td>
        </td>
    </tr>
}

</table>
