﻿@model List<int>

@{ 
    projet_club_sportif.Models.CategorieDAO categorieDao = new projet_club_sportif.Models.CategorieDAO();
}

<ul>
    @foreach(int id_categorie in Model)
    {
        <li>@Html.DisplayFor(String => categorieDao.Find(id_categorie).categorie)</li>
    }
</ul>