﻿
@model projet_club_sportif.ViewModels.PersonneViewModel    

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>


@if (Model.Authentifie)
{
    <h3>
        Vous êtes déjà authentifié avec le login :
        @Model.Personne.email
    </h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion", "login")
}
else
{
    <p>
        Veuillez vous authentifier :
    </p>
    using (Html.BeginForm("Index", "login", new { ReturnUrl = Request.QueryString["ReturnUrl"] }))
    {
        <div>
            @Html.LabelFor(m => m.Personne.email, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(m => m.Personne.email, htmlAttributes: new { @class = "form-control", @required="", @id = "mail", @onmouseout = "verifie()" })
            @Html.ValidationMessageFor(m => m.Personne.email, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.Personne.mdp, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.PasswordFor(m => m.Personne.mdp, htmlAttributes: new { @class = "form-control", @required="", @id= "pswd", @onmouseout="verifie()" })
            @Html.ValidationMessageFor(m => m.Personne.mdp, "", new { @class = "text-danger" })
        </div>

        <div>
            <h4>Please use theses accounts for test :</h4>
            <p>admin@admin.com / admin</p>
            <p>user@user.com / user</p>
        </div>
        <input type="submit" value="Se connecter"id="Seconnecter" disabled/>
    }
}

@section scripts
    {
    <script src="~/scripts/login/login.js"></script>
 }