﻿@model IEnumerable<projet_club_sportif.Models.T_Theme>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer un nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.theme)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.theme)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.pk_theme }) |
            @Html.ActionLink("Détails", "Details", new { id=item.pk_theme }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.pk_theme })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Retour au menu", "Index", "menu")
    @Html.ActionLink("Retour aux stages", "Index", "stages")
    @Html.ActionLink("Retour aux cours et examens", "Index", "cours_et_examen")
</div>