﻿@model List<projet_club_sportif.Models.Examen>

@for (var i = 0; i < Model.Count; i++)
{
    //numExam sert à DateTimeExamStart/End (editortemplate)
    ViewBag.numExam = i;

    <div id="Examen-@Html.Raw(i)" class="examen">
        <hr />
        @Html.Hidden("Index", i.ToString() , new { @Name = "Index", @Id = "" })

        @Html.HiddenFor(model => model[i].fk_evenement, new { @Name = "fk_evenement[" + i + "]", @Id = "fk_evenement[" + i + "]" })

        <div class="form-group">
            @Html.LabelFor(model => model[i].grade, htmlAttributes: new { @class = "control-label col-md-2", @For = "grade[" + i + "]" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model[i].grade, EnumHelper.GetSelectList(typeof(projet_club_sportif.Models.GRADE)), new { @class = "form-control", @Name = "grade[" + i + "]", @Id = "grade[" + i + "]" })
                @Html.ValidationMessageFor(model => model[i].grade, "", new { @class = "text-danger", @Data_valmsg_for = "grade[" + i + "]" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model[i].dateDebut, htmlAttributes: new { @class = "control-label col-md-2", @For = "dateDebutExamen[" + i + "]" })
            <div class="col-md-10">
                @Html.EditorFor(model => model[i].dateDebut, "DateTimeExamStart", new { htmlAttributes = new { @class = "form-control " } })
                @Html.HiddenFor(model => model[i].dateDebut, new { @Id = "dateDebutExamen-" + i, @Name = "dateDebutExamen[" + i + "]" })
                @Html.ValidationMessageFor(model => model[i].dateDebut, "", new { @class = "text-danger", @Data_valmsg_for = "dateDebutExamen[" + i + "]" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model[i].dateFin, htmlAttributes: new { @class = "control-label col-md-2", @For = "dateFinExamen[" + i + "]" })
            <div class="col-md-10">
                @Html.EditorFor(model => model[i].dateFin, "DateTimeExamEnd", new { htmlAttributes = new { @class = "form -control", @For = "dateFinExamen[" + i + "]" } })
                @Html.HiddenFor(model => model[i].dateFin, new { @Id = "dateFinExamen-" + i, @Name = "dateFinExamen[" + i + "]" })
                @Html.ValidationMessageFor(model => model[i].dateFin, "", new { @class = "text-danger", @Data_valmsg_for = "dateFinExamen[" + i + "]" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model[i].fk_lieu, htmlAttributes: new { @class = "control-label col-md-2", @For = "fk_lieu[" + i + "]" })
            <div class="col-md-10">
                <table class='table-choix-lieu display'>
                    <thead>
                        <tr>
                            <th>Salle</th>
                            <th>Adresse</th>
                            <th>Code Postal</th>
                            <th>Ville</th>
                            <th>Pays</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><input type="text" placeholder="" /></th>
                            <th><input type="text" placeholder="" /></th>
                            <th><input type="text" placeholder="" /></th>
                            <th><input type="text" placeholder="" /></th>
                            <th><input type="text" placeholder="" /></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (projet_club_sportif.Models.T_Lieu unLieu in ViewBag.lieux)
                        {
                            <tr>
                                <td>@Html.DisplayName(unLieu.salle)</td>
                                <td>@Html.DisplayName(unLieu.adresse)</td>
                                <td>@Html.DisplayName(unLieu.cp.ToString())</td>
                                <td>@Html.DisplayName(unLieu.ville)</td>
                                <td>@Html.DisplayName(unLieu.pays)</td>
                                <td>
                                    @Html.RadioButtonFor(model => model[i].fk_lieu, unLieu.pk_lieu, new { @Name = "fk_lieu[" + i + "]", @Id = "fk_lieu[" + i + "]" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.HiddenFor(model => model[i].fk_lieu, new { @Name = "fk_lieu[]", @Id = "fk_lieu[" + i + "]" })
                @Html.ValidationMessageFor(model => model[i].fk_lieu, "", new { @class = "text-danger", @Data_valmsg_for = "fk_lieu[" + i + "]" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model[i].description, htmlAttributes: new { @class = "control-label col-md-2", @For = "description[" + i + "]" })
            <div class="col-md-10">
                @Html.EditorFor(model => model[i].description, new { htmlAttributes = new { @class = "form-control", @Name = "description[]", @Id = "description[" + i + "]" } })
                @Html.ValidationMessageFor(model => model[i].description, "", new { @class = "text-danger", @Data_valmsg_for = "description[" + i + "]" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model[i].organisateursSelectedId, htmlAttributes: new { @class = "control-label col-md-2", @For = "organisateursSelectedId[" + i + "]" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model[i].organisateursSelectedId, new MultiSelectList(Model[i].organisateurs, "pk_personne", "nom", Model[i].organisateursSelectedId), new { @class = "form-control chosen", @Name = "organisateursSelectedId[" + i + "]", @Id = "examen-organisateurs-select-" + i })
                @Html.ValidationMessageFor(model => model[i].organisateursSelectedId, "", htmlAttributes: new { @class = "text-danger", @Data_valmsg_for = "organisateursSelectedId[" + i + "]" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Supprimer l'examen" class="btn btn-default" id="SupprimerExamenButton-@Html.Raw(i)" />
            </div>
        </div>

    </div>

}
