﻿@model IEnumerable<projet_club_sportif.Models.Examen>

@{
    ViewBag.Title = "créerUneEntrer_historique";
    projet_club_sportif.Models.Personne laPersonne = ViewBag.Personne;
}

<h2>Liste des examens qui ne sont pas encore valider</h2>


<table class="table">
    <tr>
        <th>
            Grade
        </th>
        <th>
            Date de début
        </th>
        <th>
            Date de fin
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(Examen => item.grade)
        </td>
        <td>
            @Html.DisplayFor(Examen => item.dateDebut)
        </td>
        <td>
            @Html.DisplayFor(Examen => item.dateFin)
        </td>
        <td>
            @Html.ActionLink("Réussite", "reussit_historique", new { id_evenement = item.fk_evenement, id_personne = laPersonne.pk_personne }) |
            @Html.ActionLink("Echec", "Echec_historique", new { id_evenement = item.fk_evenement, id_personne = laPersonne.pk_personne })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Retour", "Index", "menu")
</div>