﻿
@{
    ViewBag.Title = "Eleve";
}

<h2>Gérer les évènements</h2>

<div id="menu-membre">
    <ul>
        <li>@Html.ActionLink("Gérer les cours et examens associés", "Index", "cours_et_examen")</li>
        <li>@Html.ActionLink("Gérer les évènements extras", "Index", "extras")</li>
        <li>@Html.ActionLink("Gérer les compétitions", "Index", "competitions")</li>
        <li>@Html.ActionLink("Gérer les stages", "Index", "stages")</li>
    </ul>
</div>

<ul>
    <li>@Html.ActionLink("Gérer les thèmes", "Index", "themes")</li>
    <li>@Html.ActionLink("Gérer les catégories", "Index", "categories")</li>
    <li>@Html.ActionLink("Gérer les lieux", "Index", "lieux")</li>
</ul>

<div>
    @Html.ActionLink("Retour", "Index",  "menu")
</div>