﻿
@{
    ViewBag.Title = "Instructeur_Gerer_Inscription_Eleve";
}

<h2>Gestion des inscriptions/désinscriptions d'un pratiquant</h2>
<div id="menu-membre">
    <ul id="affiche">
        <li>@Html.ActionLink("Inscrire un pratiquant", "RegistrationList", "adminRegistration")</li>
        <li>@Html.ActionLink("Désinscrire un pratiquant", "DeregistrationList", "adminRegistration")</li>
        <li>@Html.ActionLink("Liste des événements auxquels participent un pratiquant", "studentList", "adminRegistration")</li>
    </ul>
</div>

<div>
    @Html.ActionLink("Retour", "Index", "menu")
</div>

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
