﻿
@{
    ViewBag.Title = "modifier_historique";
    projet_club_sportif.Models.Personne laPersonne = ViewBag.Personne;
}

<h2>modifier_historique de @ViewBag.Personne.nom @ViewBag.Personne.prenom</h2>
<hr />



<div>
    @Html.ActionLink("Retour", "Index", "menu")
</div>
