﻿
@{
    ViewBag.Title = "modifier_historique";
    projet_club_sportif.Models.Personne laPersonne = ViewBag.Personne;
    var i = 0;
}

<h2>Gestion de l'historique de @ViewBag.Personne.nom @ViewBag.Personne.prenom</h2>

<hr />
<dl class="dl-horizontal">

    <dt>
        ceinture:
    <dt>
    <dd>
        @Html.DisplayFor(Model => laPersonne.grade)
    </dd>
    <dt>
        poids:
    </dt>
    <dd>
        @ViewBag.Personne.poids
    </dd>
    <dt>
        age:
    </dt>
    <dd>
        @ViewBag.Personne.age
    </dd>

</dl>


@if (ViewBag.Cours != null && ViewBag.Cours.Count != 0)
{
    <h4>cours</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Section
            </th>
            <th>
                Themes
            </th>
            <th>
                Date de début
            </th>
            <th>
                Date de fin
            </th>
            
            
        </tr>
        @foreach (projet_club_sportif.Models.Cours item in ViewBag.Cours)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.myCours.section)
                </td>
                <td>
                    @Html.DisplayFor(model => item.themesSelectedId, "ListTThemes")
                </td>
                <td>
                    @Html.DisplayFor(model => item.dateDebut)
                </td>
                <td>
                    @Html.DisplayFor(model => item.dateFin)
                </td>
                

            </tr>
        }
    </table>
}

@if (ViewBag.Examen != null && ViewBag.Examen.Count != 0)
{
    <h4>Examen</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Grade
            </th>
            <th>
                Date de début
            </th>
            <th>
                Date de fin
            </th>
            <th>
                Statut
            </th>
            <th>
                Action
            </th>
            
        </tr>
        @foreach (projet_club_sportif.Models.Examen item in ViewBag.Examen)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Examen => item.grade)
                </td>
                <td>
                    @Html.DisplayFor(Examen => item.dateDebut)
                </td>
                <td>
                    @Html.DisplayFor(Examen => item.dateFin)
                </td>
                <td>
                    @ViewBag.Reussit[i++]
                </td>
                <td>
                    @Html.ActionLink("modification", "modifier_historique_Examen", new { id_evenement = item.fk_evenement, id_personne = laPersonne.pk_personne})
                </td>
               
            </tr>
        }
    </table>
}
@if (ViewBag.Competition != null && ViewBag.Competition.Count != 0)
{
    <h4>competition</h4>
    <hr />
        <table class="table">
            <tr>
                <th>
                    Titre
                </th>
                <th>
                    Categories
                </th>
                <th>
                    Date de début
                </th>
                <th>
                    Date de fin
                </th>
                <th>
                    Prix
                </th>
            </tr>
            @foreach (projet_club_sportif.Models.Competition item in ViewBag.Competition)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.titre)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.categoriesSelectedId, "ListTCategories")
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.dateDebut)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.dateFin)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.listPrix, "ListTPrixCompetition")
                    </td>
                </tr>
            }
        </table>
}
@if (ViewBag.Extra != null && ViewBag.Extra.Count != 0)
{
    <h4>Extra</h4>
    <hr />

    <table class="table">
        <tr>
            <th>
                Titre
            </th>
            <th>
                categories
            </th>
            <th>
                Date de début
            </th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.Extra)
        {
            <tr>
                <td>
                    @item.titre
                </td>
                <td>
                    @Html.Raw(item.dateDebut.ToString("dd/MM/yyyy HH:mm"))
                </td>
                <td>
                    @Html.Raw(item.dateFin.ToString("dd/MM/yyyy HH:mm"))
                </td>
            </tr>
        }
    </table>
}



@if (ViewBag.Stage != null && ViewBag.Stage.Count != 0)
{
    <h4>Stage</h4>
    <hr />

    <table class="table">
        <tr>
            <th>
                Thèmes
            </th>
            <th>
                Date de début
            </th>
            <th>
                Date de fin
            </th>
            <th></th>
        </tr>
        @foreach (projet_club_sportif.Models.Stage item in ViewBag.Stage)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.themesSelectedId, "ListTThemes")
                </td>
                <td>
                    @Html.Raw(item.dateDebut.ToString("dd/MM/yyyy HH:mm"))
                </td>
                <td>
                    @Html.Raw(item.dateFin.ToString("dd/MM/yyyy HH:mm"))
                </td>
            </tr>
        }
    </table>
}
<div>
    @Html.ActionLink("Retour", "Index", "menu")
</div>
