﻿@model IEnumerable<projet_club_sportif.Models.T_Evenement>
@{
    ViewBag.Title = "Eleve";
}

<h2>Se désinscrire d'un évènement</h2>
<div id="menu-membre">
    <ul id="affiche">
        <li>@Html.ActionLink("Se désinscrire d'un cours", "DesinscriptionCours", "participers")</li>
        <li>@Html.ActionLink("Se désinscrire d'une compétition", "DesinscriptionCompetition", "participers")</li>
        <li>@Html.ActionLink("Se désinscrire d'un extra", "DesinscriptionExtra", "participers")</li>
        <li>@Html.ActionLink("Se désinscrire d'un examen ", "DesinscriptionExamen", "participers")</li>
        <li>@Html.ActionLink("Se désinscrire d'un stage", "DesinscriptionStage", "participers")</li>
    </ul>
</div>

    <div>
        @Html.ActionLink("Retour", "Gerer_Ses_Inscriptions", "menu")
    </div>
