﻿<div id="menu-membre">
    <ul>
        <li>@Html.ActionLink("Consulter son historique", "Eleve_Consulter_Son_Historique", "menu")</li>
        <li>@Html.ActionLink("Gérer son compte", "Gerer_Son_Compte", "compte")</li>
        <li>@Html.ActionLink("Gérer ses inscriptions à des événements", "Gerer_Ses_Inscriptions", "menu")</li>
    </ul>
</div>