﻿<div id="menu-membre">
    <ul id="affiche">
        <li>@Html.ActionLink("Consulter L'historique", "Instructeur_Gerer_Historique", "menu")</li>
        <li>@Html.ActionLink("Gérer les données étudiantes", "Index", "compte")</li>
        <li>@Html.ActionLink("Gérer les évènements", "Instructeur_Gerer_Les_Evenements", "menu")</li>
        <li>@Html.ActionLink("Gérer son compte", "Gerer_Son_Compte", "compte")</li>
        <li>@Html.ActionLink("Gérer ses inscriptions à des événements", "Gerer_Ses_Inscriptions", "menu")</li>
        <li>@Html.ActionLink("Gérer les inscriptions d'un pratiquant", "Instructeur_Gerer_Inscription_Eleve", "menu")</li>
    </ul>
</div>
