﻿@model projet_club_sportif.Models.Competition

@{
    ViewBag.Title = "Créer";
}

@section css
{
    <link href="~/Scripts/chosen_v1.8.7/chosen.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/timepicker/jquery.timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
}

<h2>Create</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "create-competition-form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>competition</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.titre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.titre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.categoriesSelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.categoriesSelectedId, new MultiSelectList(Model.categories, "pk_categorie", "categorie", Model.categoriesSelectedId), new { @class = "form-control chosen" })
                @Html.ValidationMessageFor(model => model.categoriesSelectedId, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateDebut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateDebut, "DateTimeStart", new { htmlAttributes = new { @class = "form-control " } })
                @Html.HiddenFor(model => model.dateDebut)
                @Html.ValidationMessageFor(model => model.dateDebut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateFin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateFin, "DateTimeEnd", new { htmlAttributes = new { @class = "form -control " } })
                @Html.HiddenFor(model => model.dateFin)
                @Html.ValidationMessageFor(model => model.dateFin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fk_lieu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table id='table-choix-lieu' class='display'>
                    <thead>
                        <tr>
                            <th>Salle</th>
                            <th>Adresse</th>
                            <th>Code Postal</th>
                            <th>Ville</th>
                            <th>Pays</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><input type="text" placeholder="" /></th>
                            <th><input type="text" placeholder="" /></th>
                            <th><input type="text" placeholder="" /></th>
                            <th><input type="text" placeholder="" /></th>
                            <th><input type="text" placeholder="" /></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (projet_club_sportif.Models.T_Lieu unLieu in ViewBag.lieux)
                {
                            <tr>
                                <td>@Html.DisplayName(unLieu.salle)</td>
                                <td>@Html.DisplayName(unLieu.adresse)</td>
                                <td>@Html.DisplayName(unLieu.cp.ToString())</td>
                                <td>@Html.DisplayName(unLieu.ville)</td>
                                <td>@Html.DisplayName(unLieu.pays)</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.fk_lieu, unLieu.pk_lieu)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.ValidationMessageFor(model => model.fk_lieu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.organisateursSelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.organisateursSelectedId, new MultiSelectList(Model.organisateurs, "pk_personne", "nom", Model.organisateursSelectedId), new { @class = "form-control chosen" })
                @Html.ValidationMessageFor(model => model.organisateursSelectedId, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div id="prix" class="form-horizontal">@Html.EditorFor(model => model.listPrix, "ListTPrixCompetition")</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Ajouter un prix" class="btn btn-default" id="AddPrixButton" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Supprimer le dernier prix" class="btn btn-default" id="SupprimerPrixButton" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/chosen_v1.8.7/chosen.jquery.min.js"></script>

    <script src="~/Scripts/timepicker/jquery.timepicker.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/datepair/jquery.datepair.min.js"></script>

    <script src="~/Scripts/competition/create.js"></script>
}
