﻿@model projet_club_sportif.Models.Competition

@{
    Layout = null;
}

<div id="PrixCompetition-@Html.Raw(ViewBag.numPrix)" class="PrixCompetition">
    <hr />
    @Html.Hidden("Index", (int) ViewBag.numPrix, new { @Name = "Index", @Id = ""})

    @Html.HiddenFor(model => model.listPrix.First().pk_prixCompetition, new { @Name = "listPrix[" + ViewBag.numPrix + "].pk_prixCompetition",
                                                            @Id = "listPrix[" + ViewBag.numPrix + "].pk_prixCompetition",
                                                            @Value = "" })


    <div class="form-group">
        @Html.LabelFor(model => model.listPrix.First().nbCategories, htmlAttributes: new { @class = "control-label col-md-2",
                                                                            @For = "listPrix[" + ViewBag.numPrix + "].nbCategories"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.listPrix.First().nbCategories, new { htmlAttributes = new { @class = "form-control",
                                                                                       @Name = "listPrix[" + ViewBag.numPrix + "].nbCategories",
                                                                                       @Id = "listPrix[" + ViewBag.numPrix + "].nbCategories",
                                                                                       @Value = ViewBag.numPrix,
                                                                                       @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.listPrix.First().nbCategories, "", new { @class = "text-danger",
                                                                            @Data_valmsg_for = "listPrix[" + ViewBag.numPrix + "].nbCategories"})
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.listPrix.First().prix, htmlAttributes: new { @class = "control-label col-md-2",
                                                                @For = "listPrix[" + ViewBag.numPrix + "].prix" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.listPrix.First().prix, new { htmlAttributes = new { @class = "form-control",
                                                                               @Name = "listPrix[" + ViewBag.numPrix + "].prix",
                                                                               @Id = "listPrix[" + ViewBag.numPrix + "].prix" } })
            @Html.ValidationMessageFor(model => model.listPrix.First().prix, "", new { @class = "text-danger",
                                                                    @Data_valmsg_for = "listPrix[" + ViewBag.numPrix + "].prix"
       })
        </div>
    </div>


</div>