﻿@model IEnumerable<projet_club_sportif.Models.Competition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Créer une nouvelle catégorie", "Index", "categories")</li>
    <li>@Html.ActionLink("Créer une nouvelle compétition", "Create")</li>
</ul>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoriesSelectedId, "ListTCategories")
        </td>
        <td>
            @Html.Raw(item.dateDebut.ToString("dd/MM/yyyy HH:mm"))
        </td>
        <td>
            @Html.Raw(item.dateFin.ToString("dd/MM/yyyy HH:mm"))
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.fk_evenement }) |
            @Html.ActionLink("Détails", "Details", new { id=item.fk_evenement }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.fk_evenement })
        </td>
    </tr>
}
</table>

<div>
    @Html.ActionLink("Retour", "Instructeur_Gerer_Les_Evenements",  "menu")
</div>
