﻿@model List<projet_club_sportif.Models.T_PrixCompetition>

@for (var i = 0; i< Model.Count; i++)
{

    <div id="PrixCompetition-@Html.Raw(Model[i].nbCategories)" class="PrixCompetition">
        <hr />
        @Html.Hidden("Index", Model[i].nbCategories, new { @Name = "Index", @Id = ""})
        

        @Html.HiddenFor(model => model[i].pk_prixCompetition, new { @Name = "listPrix[" + Model[i].nbCategories + "].pk_prixCompetition",
                                                                   @Id = "listPrix[" + Model[i].nbCategories + "].pk_prixCompetition",
                                                                   @Value = Model[i].pk_prixCompetition })


        <div class="form-group">
            @Html.LabelFor(model => model[i].nbCategories, htmlAttributes: new { @class = "control-label col-md-2",
                                                                                @For = "listPrix[" + Model[i].nbCategories + "].nbCategories"})
            <div class="col-md-10">
                @Html.EditorFor(model => model[i].nbCategories, new { htmlAttributes = new { @class = "form-control",
                                                                                           @Name = "listPrix[" + Model[i].nbCategories + "].nbCategories",
                                                                                           @Id = "listPrix[" + Model[i].nbCategories + "].nbCategories",
                                                                                           @Value = Model[i].nbCategories,
                                                                                           @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model[i].nbCategories, "", new { @class = "text-danger",
                                                                                    @Data_valmsg_for = "listPrix[" + Model[i].nbCategories + "].nbCategories" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model[i].prix, htmlAttributes: new { @class = "control-label col-md-2",
                                                                        @For = "listPrix[" + Model[i].nbCategories + "].prix"})
            <div class="col-md-10">
                @Html.EditorFor(model => model[i].prix, new { htmlAttributes = new { @class = "form-control",
                                                                                       @Name = "listPrix[" + Model[i].nbCategories + "].prix",
                                                                                       @Id = "listPrix[" + Model[i].nbCategories + "].prix" } })
                @Html.ValidationMessageFor(model => model[i].prix, "", new { @class = "text-danger",
                                                                            @Data_valmsg_for = "listPrix[" + Model[i].nbCategories + "].prix" })
            </div>
        </div>


    </div>
    
}
