﻿html, body {
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
footer {
    clear: both;
    width: 920px;
    margin: 10px;
    padding: 10px;
    color: #ccc;
  
}
footer p {
    text-align: right;
}

hr {
    border-top: 2px solid #aaa;
}

/*pour les datatables*/
table.dataTable {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    table-layout: fixed;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ccc;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #ccc;
}

/* pour chosen*/
ul.chosen-choices{
    border-radius: 4px;
    border: 1px solid #ccc;
}


/* pour mettre le bouton deconnexion à droite*/
ul.navbar-nav {
    float: right;
}

/* pour ne pas tronquer une phrase dans les vues details/delete */
.dl-horizontal dt 
{
    white-space: normal;
}

/*menu  css*/

div#menu {
    margin-top: 150px; /* pas trouve avec bloostrap a modifie*/
}
div#menu ul{
    list-style:none; 
}
div#menu ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    background-color: #222;
    
}
div#menu ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
}
div#menu ul li:hover {
    background-color: white;
}
div#menu ul li:hover a {
    color: #222;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

/* pour le menu*/
div#menu-membre ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div#menu-membre ul li {
    display: block;
    float: left;
    border: none;
    cursor: move;
    height: 180px;
    width: 180px;
    padding: 6px;
    margin: 22px 22px 22px 22px;
    color: #FFFFFF;
    background-color: #318AC6;
    -webkit-box-shadow: 5px 5px 20px 0px #1a1b1f;
    -moz-box-shadow: 5px 5px 20px 0px #1a1b1f;
    box-shadow: 5px 5px 20px 0px #1a1b1f;
}

div#menu-membre ul li a {
    display: block;
    height: 100%;
    color: white;
    text-align: center;
    padding: 22px 22px;
    text-decoration: none;
}
div#menu-membre ul li input {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    /* text-align: center; */
    /* padding: 22px 22px; */
    text-decoration: none;
    background-color: #318AC6;
    border: 0 none;
    padding-bottom: 100px;
}
