﻿@model projet_club_sportif.Models.Stage

@{
    ViewBag.Title = "Créer";
}

@section css
{
    <link href="~/Scripts/chosen_v1.8.7/chosen.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/timepicker/jquery.timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
}

<h2>Créer</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "create-stage-form"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>stage</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.cout, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cout, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cout, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.themesSelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.themesSelectedId, new MultiSelectList(Model.themes, "pk_theme", "theme", Model.themesSelectedId) , new { @class = "form-control chosen" })
                @Html.ValidationMessageFor(model => model.themesSelectedId, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateDebut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateDebut, "DateTimeStart", new { htmlAttributes = new { @class = "form-control " } })
                @Html.HiddenFor(model => model.dateDebut)
                @Html.ValidationMessageFor(model => model.dateDebut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateFin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateFin, "DateTimeEnd", new { htmlAttributes = new { @class = "form -control " } })
                @Html.HiddenFor(model =>model.dateFin)
                @Html.ValidationMessageFor(model => model.dateFin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fk_lieu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table id='table-choix-lieu' class='display'>
                    <thead>
                        <tr>
                            <th>Salle</th>
                            <th>Adresse</th>
                            <th>Code Postal</th>
                            <th>Ville</th>
                            <th>Pays</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><input type="text" placeholder="" /></th>
                            <th><input type="text" placeholder="" /></th>
                            <th><input type="text" placeholder="" /></th>
                            <th><input type="text" placeholder="" /></th>
                            <th><input type="text" placeholder="" /></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (projet_club_sportif.Models.T_Lieu unLieu in ViewBag.lieux)
                        {
                            <tr>
                                <td>@Html.DisplayName(unLieu.salle)</td>
                                <td>@Html.DisplayName(unLieu.adresse)</td>
                                <td>@Html.DisplayName(unLieu.cp.ToString())</td>
                                <td>@Html.DisplayName(unLieu.ville)</td>
                                <td>@Html.DisplayName(unLieu.pays)</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.fk_lieu, unLieu.pk_lieu)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.ValidationMessageFor(model => model.fk_lieu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.organisateursSelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.organisateursSelectedId, new MultiSelectList(Model.organisateurs, "pk_personne", "nom", Model.organisateursSelectedId), new { @class = "form-control chosen" })
                @Html.ValidationMessageFor(model => model.organisateursSelectedId, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/chosen_v1.8.7/chosen.jquery.min.js"></script>

    <script src="~/Scripts/timepicker/jquery.timepicker.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/datepair/datepair.min.js"></script>
    <script src="~/Scripts/datepair/jquery.datepair.min.js"></script>

    <script src="~/Scripts/stage/create.js"></script>
}
