﻿@model IEnumerable<projet_club_sportif.Models.Stage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Créer un nouveau thème", "Index", "themes")</li>
    <li>@Html.ActionLink("Créer un nouveau stage", "Create")</li>
</ul>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.themes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateFin)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.themesSelectedId, "ListTThemes")
        </td>
        <td>
            @Html.Raw(item.dateDebut.ToString("dd/MM/yyyy HH:mm"))
        </td>
        <td>
            @Html.Raw(item.dateFin.ToString("dd/MM/yyyy HH:mm"))
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.fk_evenement }) |
            @Html.ActionLink("Détails", "Details", new { id=item.fk_evenement }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.fk_evenement })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Retour", "Instructeur_Gerer_Les_Evenements",  "menu")
</div>
