﻿@model List<int>

@{ 
    projet_club_sportif.Models.ThemeDAO themeDao = new projet_club_sportif.Models.ThemeDAO();
}

<ul>
    @foreach(int id_theme in Model)
    {
        <li>@Html.DisplayFor(String => themeDao.Find(id_theme).theme)</li>
    }
</ul>