﻿@model List<int>

@{ 
    projet_club_sportif.Models.PersonneDAO personneDao = new projet_club_sportif.Models.PersonneDAO();
}

<ul>
    @foreach (int id_pers in Model)
    {
        projet_club_sportif.Models.T_Personne unePersonne = personneDao.Find((int)id_pers);
        String texte = unePersonne.nom + " " + unePersonne.prenom;
        <li>@Html.DisplayFor(String => texte)</li>
    }
</ul>