﻿@model List<projet_club_sportif.Models.T_PrixCompetition>

<ul>
    @foreach(projet_club_sportif.Models.T_PrixCompetition unPrixCompetition in Model)
    {
        String texte = (unPrixCompetition.nbCategories) + " compétition(s) => " + unPrixCompetition.prix.ToString("N") + " €";
        <li>@Html.DisplayFor(String => texte)</li>
    }
</ul>