﻿@*@model IEnumerable<projet_club_sportif.ViewModels.extraViewModel>*@
@model IEnumerable<projet_club_sportif.Models.Extra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer un nouvel évènement", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateFin)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.fk_evenement }) |
            @Html.ActionLink("Détails", "Details", new { id=item.fk_evenement }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.fk_evenement })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Retour", "Instructeur_Gerer_Les_Evenements",  "menu")
</div>
